{% load static  %}

<!--footer start-->
<footer class="w-100 clearfix footer footerBg1" id="footer">
    <div class="needOurSupport">
    <div class="container">
        <div class="needOurSupportInner">
            <div class="needOurSupportTxt">
                <h2 class="fadein">Still You Need Our Support</h2>
                <p class="fadein">There are many variations of passages of lorem ipsum available but the majority have
                suffered
                alteration in some form by injected humor.</p>
            </div>
            <div class="needOurSupportInput">
                <div class="input-group fadein">
                <input type="text" class="form-control" placeholder="Email Address">
                <a href="javascript:void(0);" class="input-group-text subscriptionBtn"><span>Subscription</span>
                    <img src="{% static 'images/icon/icon-right.png' %}" alt="btn-arrow" class="img-fluid"></a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="footerGroup">
    <div class="footerInner">
        <div class="container">
            <div class="footerInnerRow">
                <div class="row">
                <div class="col-md-12 col-lg-3">
                    <div class="footerCol footerCol1">
                        <div class="footerLogo fadein">
                            <img src="{% static 'images/logo/southnestfarm.png' %}" alt="footer-logo" class="img-fluid">
                        </div>
                        <div class="footerPara fadein">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form.</p>
                        </div>
                        <hr class="hrLine fadein">
                        <div class="socialMediaIcon fadein">
                            <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:void(0);"><i class="fa fa-whatsapp"
                                        aria-hidden="true"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:void(0);"><i class="fa fa-instagram"
                                        aria-hidden="true"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:void(0);"><i class="fa fa-facebook"
                                        aria-hidden="true"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:void(0);"><i class="fa fa-twitter"
                                        aria-hidden="true"></i></a>
                            </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="footerCol footerCol2">
                        <div class="footerMenuHeading">
                            <h4 class="fadein">Useful Links</h4>
                        </div>
                        <div class="footerMenuLink">
                            <ul class="nav flex-column">
                            <li class="nav-item fadein">
                                <a class="nav-link" href="about-us.html"><i class="fa fa-caret-right"
                                        aria-hidden="true"></i> About Us</a>
                            </li>
                            <li class="nav-item fadein">
                                <a class="nav-link" href="poultry-feed.html"><i class="fa fa-caret-right"
                                        aria-hidden="true"></i> Poultry Feeds </a>
                            </li>
                            <li class="nav-item fadein">
                                <a class="nav-link" href="our-service.html"><i class="fa fa-caret-right"
                                        aria-hidden="true"></i> Our Services</a>
                            </li>
                            <li class="nav-item fadein">
                                <a class="nav-link" href="gallery-2-column.html"><i class="fa fa-caret-right"
                                        aria-hidden="true"></i> Gallery</a>
                            </li>
                            <li class="nav-item fadein">
                                <a class="nav-link" href="video-gallery.html"><i class="fa fa-caret-right"
                                        aria-hidden="true"></i> Videos</a>
                            </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="footerCol footerCol3">
                        <div class="footerMenuHeading">
                            <h4 class="fadein">Our Services</h4>
                        </div>
                        <div class="footerMenuLink">
                            <ul class="nav flex-column">
                            <li class="nav-item fadein">
                                <a class="nav-link" href="javascript:void(0);"><i class="fa fa-caret-right"
                                        aria-hidden="true"></i> Breeders</a>
                            </li>
                            <li class="nav-item fadein">
                                <a class="nav-link" href="javascript:void(0);"><i class="fa fa-caret-right"
                                        aria-hidden="true"></i> Our Blogs</a>
                            </li>
                            <li class="nav-item fadein">
                                <a class="nav-link" href="javascript:void(0);"><i class="fa fa-caret-right"
                                        aria-hidden="true"></i> FAQ</a>
                            </li>
                            <li class="nav-item fadein">
                                <a class="nav-link" href="javascript:void(0);"><i class="fa fa-caret-right"
                                        aria-hidden="true"></i> Policy</a>
                            </li>
                            <li class="nav-item fadein">
                                <a class="nav-link" href="javascript:void(0);"><i class="fa fa-caret-right"
                                        aria-hidden="true"></i> Terms & Condition</a>
                            </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="footerCol footerCol4">
                        <div class="footerMenuHeading">
                            <h4 class="fadein">Contact Information</h4>
                        </div>
                        <div class="footerMenuLink footerContactInfo">
                            <ul class="nav flex-column">
                            <li class="nav-item fadein">
                                <a class="nav-link" href="javascript:void(0);">
                                    <div class="contactInfo">
                                        <div class="contactInfoIcon">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        </div>
                                        <div class="contactInfoTxt">
                                        <h6>Call Us Now:</h6>
                                        <p class="mb-0">+256 743 09 3516</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item fadein">
                                <a class="nav-link" href="javascript:void(0);">
                                    <div class="contactInfo">
                                        <div class="contactInfoIcon">
                                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                        </div>
                                        <div class="contactInfoTxt">
                                        <h6>Email Address:</h6>
                                        <p class="mb-0">info@southnestfarm.com</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item fadein">
                                <a class="nav-link" href="javascript:void(0);">
                                    <div class="contactInfo">
                                        <div class="contactInfoIcon">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        </div>
                                        <div class="contactInfoTxt">
                                        <h6>Office Hour:</h6>
                                        <p class="mb-0">08:00am - 6:00pm</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footerCopyRight">
        <div class="container">
            <div class="footerCopyRightInner">
                <p class="mb-0 fadein">Copyright © 2023 <a href="javascript:void(0);">SouthNest Farm</a>. All Rights
                Reserved.</p>
            </div>
        </div>
    </div>
    </div>
</footer>
<!--footer end-->

<script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/contact_form.js' %}"></script>
<script src="{% static 'js/grt-youtube-popup.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

<script>
    $(".youtube-link").grtyoutube({
    autoPlay: true,
    theme: "dark",
    });

    $(document).ready(function ($) {
    $('.owlCarouselProducts').owlCarousel({
        loop: false,
        margin: 0,
        nav: true,
        dots: false,
        responsiveClass: true,
        responsive: {
            0: {
                items: 1,
            },
            768: {
                items: 2,
            },
            992: {
                items: 3,
            },
            1200: {
                items: 3,
            },
            1400: {
                items: 4,
                loop: false
            }
        }
    })
    });


    $(document).ready(function ($) {
    $('.owlCarouselRelatedProducts').owlCarousel({
        loop: false,
        margin: 0,
        nav: true,
        dots: false,
        responsiveClass: true,
        responsive: {
            0: {
                items: 1,
            },
            768: {
                items: 1,
            },
            992: {
                items: 2,
                loop: false
            }
        }
    })
    });

    $('.carouselGalleryPoultry').owlCarousel({
    loop: false,
    margin: 10,
    nav: true,
    dots: true,
    responsiveClass: true,
    responsive: {
        0: {
            items: 1,
        },
        600: {
            items: 2,
        },
        1000: {
            items: 3,
        }
    }
    })
    $(".carouselGalleryPoultry .owl-prev").html('<img src="{% static 'images/icon/icon-black-left.png' %}" alt="left" class="img-fluid">');
    $(".carouselGalleryPoultry .owl-next").html('<img src="{% static 'images/icon/icon-black-right.png' %}" alt="right" class="img-fluid">');

    $(document).ready(function ($) {
    var owl = $(".owl-carousel");
    owl.owlCarousel();
    $(".next-btn").click(function () {
        owl.trigger("next.owl.carousel");
    });
    $(".prev-btn").click(function () {
        owl.trigger("prev.owl.carousel");
    });
    $(".prev-btn").addClass("disabled");
    $(owl).on("translated.owl.carousel", function (event) {
        if ($(".owl-prev").hasClass("disabled")) {
            $(".prev-btn").addClass("disabled");
        } else {
            $(".prev-btn").removeClass("disabled");
        }
        if ($(".owl-next").hasClass("disabled")) {
            $(".next-btn").addClass("disabled");
        } else {
            $(".next-btn").removeClass("disabled");
        }
    });
    });

    const header = document.querySelector(".headerOne");
    const toggleClass = "headerActive";
    window.addEventListener("scroll", () => {
    const currentScroll = window.pageYOffset;
    if (currentScroll > 150) {
        header.classList.add(toggleClass);
    } else {
        header.classList.remove(toggleClass);
    }
    });

    // Maps JS
    let tooltip = document.querySelector('.tooltip');
    setInterval(function () {
    $('.tooltipGroup').removeClass('activeTool');
    let rand = Math.floor(Math.random() * (9 - 1 + 1)) + 1;
    let el = document.querySelector('.marker' + rand);
    let active = document.querySelector('.activeTool');
    active && active.classList.remove('activeTool');
    el.classList.add('activeTool');
    let pos = el.getBoundingClientRect();
    }, 3000)

</script>

<script>
    $(document).ready(function() {
        $(".passwordEye").click(function() {
            // Toggle the icon class between 'fa-eye' and 'fa-eye-slash'
            $(this).find("i.fa").toggleClass("fa-eye fa-eye-slash");

            // Find the input element within the same parent and toggle it's type
            var input = $(this).parent().find("input");
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
    });
    </script>
</body>

</html>
