{% extends 'base.html' %}
{% load static %}

{% block content %}

   <!--banner start-->
   <section class="w-100 clearfix bannerSec" id="bannerSec" style="background-image: url('{% static 'images/inner-banner1.png' %}');">
      <div class="container">
         <div class="bannerContent">
            <h1>Contact Us</h1>
            <ul class="breadcrumb">
               <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
               <li class="breadcrumb-item active">Contact Us</li>
            </ul>
         </div>
      </div>
   </section>
   <!--banner end-->
   <!--contact start-->
   <section class="w-100 clearfix contactSec" id="contactSec">
      <div class="container">
         <div class="row">
            <div class="col-lg-6">
               <div class="contactInfo">
                  <div class="commonHeading">
                     <h4>Get In Touch With Us</h4>
                     <p>Curabitur gravida arcu ac tortor. Non consectetur a erat nam at. Facilisis magna etiam tempor orci eu lobortis elementum nibh tellus.</p>
                  </div>
                  <div class="infoGroup">
                     <a href="javascript:void(0);">
                        <div class="infoGroupItem">
                           <div class="infoIcon">
                              <span><img src="{% static 'images/icon/location-icon.png' %}" alt="location" class="img-fluid"></span>
                           </div>
                           <div class="infoTxt">
                              <h4>Our Location</h4>
                              <p class="mb-0">Kyazanga, kalyamenvvu</p>
                           </div>
                        </div>
                     </a>
                     <a href="javascript:void(0);">
                        <div class="infoGroupItem">
                           <div class="infoIcon">
                              <span><img src="{% static 'images/icon/phone-icon.png' %}" alt="location" class="img-fluid"></span>
                           </div>
                           <div class="infoTxt">
                              <h4>Phone</h4>
                              <p class="mb-0">+256 743 09 3516</p>
                              <p class="mb-0">+27 83 72 88 948</p>
                           </div>
                        </div>
                     </a>
                     <a href="javascript:void(0);">
                        <div class="infoGroupItem">
                           <div class="infoIcon">
                              <span><img src="{% static 'images/icon/mail-icon.png' %}" alt="location" class="img-fluid"></span>
                           </div>
                           <div class="infoTxt">
                              <h4>Email</h4>
                              <p class="mb-0">info@southnest.com</p>
                              <p class="mb-0">mmhussein13@gmail.com</p>
                           </div>
                        </div>
                     </a>
                  </div>
               </div>
            </div>
            <div class="col-lg-6">
               <div class="contactForm">
                  <h4>Contact Now</h4>
                  <form>
                     <div class="formControlGroup">
                     <input type="text" class="form-control" id="name" placeholder="Your Name" name="name" required>
                     </div>
                     <div class="formControlGroup">
                     <input type="email" class="form-control" id="email" placeholder="Your Email" name="email" required>
                     </div>
                     <div class="formControlGroup">
                        <input type="text" class="form-control" id="phone" placeholder="Phone" name="phone" required>
                     </div>
                     <div class="formControlGroup">
                        <input type="text" class="form-control" id="address" placeholder="Address" name="address" required>
                     </div>
                     <div class="formControlGroup">
                        <textarea class="form-control" rows="5" id="msg" placeholder="Message" name="msg" required></textarea>
                     </div>
                     <div class="formSubmitBtn">
                        <button type="submit" class="btnCustom5 btn-1 hover-slide-down">
                              <span>Submit <img src="{% static 'images/icon/icon-right.png' %}" alt="right" class="img-fluid"></span>
                        </button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--contact end-->

   {% endblock content %}